# Віртуальне оточення
.venv/
venv/
env/

# Секрети та токени
.env
token.json

# Кеш Пайтона
__pycache__/
*.pyc

# Бази даних та тимчасові файли
core.json
raw_allegro_data.json

# Результати експорту (Excel)
*.xlsx
*.xls
*.csv

# Архіви та збірки
*.zip
*.rar
*.exe
build/
dist/
*.spec

# Налаштування редакторів
.vscode/
.idea/